{% extends 'base.html' %}

  {% block title %}
    <title>Quotes</title>
  {% endblock %}
  {% block content %}
    <div class="quotes">
      <h2>QUOTES</h2>
      <p id="copy-text" >{{ response.text }}</p>
      <div class="button">
        <a href="{% url 'quotes' %}"><button class="btn"><i class="fa fa-refresh" aria-hidden="true"> New</i></button></a>
        <button class="btn" onclick="copy()"><i class="fa fa-clone" aria-hidden="true"></i>  Copy</button>
      </div>

  {% endblock content%}

